/** utils **/
.titles {
  color: #ff9d00;
  position: relative;
  font-size: 48px;
  font-family: serif;
  text-align: center;
}

.card {
  height: 100%;
}

.card-title {
  font-size: 26px;
  background: #859499;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-family: serif;
}

.mt-2 {
  margin-top: 1em;
}
.ml-2 {
  margin-left: 1em;
}
.mr-2 {
  margin-right: 1em;
}
.mb-2 {
  margin-bottom: 1em;
}

.mt-4 {
  margin-top: 2em;
}
.ml-4 {
  margin-left: 2em;
}
.mr-4 {
  margin-right: 2em;
}
.mb-4 {
  margin-bottom: 2em;
}

.text-white {
  color: #ffffff;
}